@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-code-line-diff-add-color: rgba(125, 191, 123, 0.15);
  --vp-code-line-diff-remove-color: rgba(255, 87, 87, 0.15);
}

@font-face {
  font-family: CascadiaCode;
  src: url(/fonts/CascadiaCode.ttf) format("truetype");
  unicode-range: U+00-FF, U+980-9FF;
}

@font-face {
  font-family: ZCOOLKuaiLe;
  src: url(/fonts/ZCOOLKuaiLe-Regular.ttf) format("truetype");
}

*, code {
  font-family: CascadiaCode, ZCOOLKuaiLe;
}

iframe {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  border-radius: 6px;
  min-height: 100px;
}

.text-gradient-error {
  color: #0000;
  -webkit-background-clip: text;
  background-image: linear-gradient(252deg, rgba(208, 48, 80, 0.6) 0%, #d03050 100%);
}


.filename {
  @apply text-sm font-bold relative pl-6;
  color: #0099F2;
}
.filename::before {
  content: '📜';
  @apply absolute left-0;
}
